<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
<log4net>
  <root>
    <level xdt:Transform="SetAttributes(value)"
                       value="#{LoggerLevel}"/>
  </root>
  <appender xdt:Locator="Match(name)" name="RollingFileAppender">
    <file value="#{PIM.LogFolderBase}\#{Octopus.Action.Package.NuGetPackageId}\TWRTradeDataExporter_%date{yyyy-MM-dd}.log"
          xdt:Transform="SetAttributes(value)"/>
  </appender>  
</log4net>
</configuration>